# Python coding sets assignment

Question 1: Write a Python program to create an empty set.

In [1]:
empty_set={}
empty_set

{}

Question 2: Write a Python program to check if two sets are equal.

In [ ]:
def sets_are_equal(set1 , set2):
    return set1==set2
# Example sets
# Example sets
set_a = {1, 2, 3, 4}
set_b = {3, 1, 2, 4}
set_c = {1, 2, 3}
set_d = {3, 5, 1}

if sets_are_equal(set_a , set_b):
    print('set_a , set_b are_equal')
else:
    print('set_a , set_b are not equal')

if sets_are_equal(set_c , set_d):
     print('set_c , set_d are_equal')
else:Question 4: Write a Python program to remove an element from a set
    print('set_c , set_d are not equal')

Question 3: Write a Python program to add an element to a set.

In [4]:
set_a = {1, 2, 3, 4}
set_a.add(25)
set_a

{1, 2, 3, 4, 25}

Question 4: Write a Python program to remove an element from a set

In [5]:
set_a = {1, 2, 3, 4, 25}
set_a.remove(25)
set_a

{1, 2, 3, 4}

Question 5: Write a Python program to find the union of two sets.

In [6]:
set_x = {1, 2, 3, 4, 5}
set_y = {4, 5, 6, 7, 8}

union_set=set_x.union(set_y)
print('union of two sets:', union_set)

union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}

Question 6: Write a Python program to find the intersection of two sets.

In [7]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90}

intersection=set_l.intersection(set_m)
print('intersection of two sets:', intersection)

intersection of two sets: {50, 10}

Question 7: Write a Python program to find the difference between two sets.

In [8]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90}

difference=set_l.difference(set_m)
print('difference between two sets:',difference)

difference between two sets: {4, 20, 30}

Question 8: Write a Python program to check if a set is a subset of another set.

In [9]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90} 
subset=set_l.issubset(set_m)
subset

False

Question 9: Write a Python program to remove all duplicate elements from a set.

In [10]:
set_l = {10, 20, 30, 4, 50, 20,10,4}

set_2=set(set_l)
set_2

{4, 10, 20, 30, 50}

# Python Coding on Dictionary Assignment

Question 1: Write a Python program to create an empty dictionary.

In [11]:
empty_dictionary={}
print('Data type', type(empty_dictionary), empty_dictionary)

Data type <class 'dict'> {}

Question 2: Write a Python program to add a key-value pair to a dictionary.

In [12]:
dic_1={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
dic_1['kolkata']=84
print('new key-value pair to a dictionary:',dic_1)

new key-value pair to a dictionary: {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'kolkata': 84}

Question 3: Write a Python program to remove a key-value pair from a dictionary.

In [13]:
dic_1={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
del dic_1['jaipur']
print('new key-value pair to a dictionary:',dic_1)

new key-value pair to a dictionary: {'delhi': 20, 'Mumbai': 65, 'nagpur': 85}

Question 4: Write a Python program to check if a key exists in a dictionary.

In [14]:
dic_3={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
dic_3.keys()
dic_3.get('delhi')

20

Question 5: Write a Python program to iterate over the keys and values of a dictionary.

In [15]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'jaipur': 26}
for key, value in dic_3.items():
    print("Key:", key, "Value:", value)

Key: jaipur Value: 26
Key: delhi Value: 20
Key: Mumbai Value: 65
Key: nagpur Value: 85

Question 6: Write a Python program to find the length of a dictionary.

In [16]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
len(dic_3)

4

Question 7: Write a Python program to merge two dictionaries.

In [17]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
dic_4 ={'jammu': 65 , 'pune':2}
dic_3.update(dic_4)
dic_3

{'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'jammu': 65, 'pune': 2}

Question 8: Write a Python program to find the maximum and minimum values in a dictionary.

In [18]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
print('maximum value is:',max (dic_3.values()))
print('minimum value is:',min (dic_3.values()))

maximum value is: 85
minimum value is: 20

Question 9: Write a Python program to count the occurrences of each value in a dictionary.

In [19]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}

value_counts = {}  

for value in dic_3.values():
    if value in value_counts:
        value_counts[value] += 1
    else:
        value_counts[value] = 1

for value, count in value_counts.items():
    print(f"Value: {value}, Occurrences: {count}")

Value: 25, Occurrences: 1
Value: 20, Occurrences: 1
Value: 65, Occurrences: 1
Value: 85, Occurrences: 1

Question 10: Write a Python program to sort a dictionary by its values.

In [20]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
sorted(dic_3.values())

[20, 25, 65, 85]